<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.upv.adm.adm_personal_shapes"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity
            android:name="com.upv.adm.adm_personal_shapes.screens.screen01"
            android:label="@string/title_screen01" >
        </activity>
        <activity
            android:name="com.upv.adm.adm_personal_shapes.screens.screen02"
            android:label="@string/title_screen02"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="com.upv.adm.adm_personal_shapes.screens.screen03"
            android:label="@string/title_screen03" >
        </activity>
        <activity
            android:name="com.upv.adm.adm_personal_shapes.screens.screen04"
            android:label="@string/title_screen04"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="com.upv.adm.adm_personal_shapes.screens.screen05"
            android:label="@string/title_screen05">
             
        </activity>
        <activity
            android:name="com.upv.adm.adm_personal_shapes.screens.screen07"
            android:label="@string/title_screen07"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="com.upv.adm.adm_personal_shapes.screens.screen13"
            android:label="@string/title_screen13">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.upv.adm.adm_personal_shapes.screens.screen17"
            android:label="@string/title_screen17">
        </activity>
        <activity
            android:name="com.upv.adm.adm_personal_shapes.screens.screen18"
            android:label="@string/title_screen18">
        </activity>
        <activity
            android:name="com.upv.adm.adm_personal_shapes.screens.screen19"
            android:label="@string/title_screen19">
            
        </activity>
        <activity
            android:name="com.upv.adm.adm_personal_shapes.screens.screen21"
            android:label="@string/title_screen21">
        </activity>
        <activity
            android:name="com.upv.adm.adm_personal_shapes.screens.screen22"
            android:label="@string/title_screen22"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="com.upv.adm.adm_personal_shapes.screens.debug.debug01_general"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.upv.adm.adm_personal_shapes.screens.debug.debug02_map"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.upv.adm.adm_personal_shapes.screens.debug.debug03_elementsvisibility"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>